@import '../../scss//variables';

.weatherDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item {
    display: flex;
    flex-direction: column;
    padding: 2.0rem;

    width: 18.2rem;
    height: 11.8rem;

    background: $bgComponents;
    border: .1rem solid #3C3B5E;
    border-radius: 1.2rem;

    .title {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 2.4rem;
      color: $subMain;
    }

    span {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: $main;
    }
  }
}