@import './libs/normalize';
@import './variables';
@import './fonts';

.container {
  width: 100%;
  max-width: 1246px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  border-right: 1px solid green;
  border-left: 1px solid green;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 .5rem;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;

  min-width: 1200px;
  height: 100%;

  background: $bgColor;

  padding-top: 4.8rem;
  padding-bottom: 8rem;
}

.mainTitleInApp {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.2rem;
  text-align: center;
  color: $main;

  margin: 6.4rem 0;
}