@import './libs/normalize';
@import './variables';
@import './fonts';

.container {
  width: 100%;
  max-width: 1246px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  border-right: 1px solid green;
  border-left: 1px solid green;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 .5rem;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;

  min-width: 1200px;
  height: 100%;

  background: $bgColor;
}

.wrapper {

  padding-top: 4.8rem;
  padding-bottom: 8rem;
}

.mainTitleInApp {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.2rem;
  text-align: center;
  color: $main;

  margin: 6.4rem 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 4.8rem;

  &-left {
    width: 80rem;
    // border: 1px solid red;

    &__top {
      display: flex;
      flex-direction: column;
      margin-bottom: 4.8rem;
    }

    &__bottom {
      &-dayilyForecast {
        display: flex;
        justify-content: space-between;
        flex-direction: wrap;
      }

      &-title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $main;

        margin-bottom: 2rem;
      }
    }
  }

  &-right {
    padding: 2.4rem;
    gap: 1.6rem;

    width: 38.4rem;
    // height: 693px;

    background: $bgComponents;
    border-radius: 2rem;

  }
}